.so-widget-sow-button-atom-cf27b5abe184 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  max-width: 100%;
  font-size: 1em;
  padding: 1em 2em;
  background: #0099ff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #007acc), color-stop(1, #0099ff));
  background: -ms-linear-gradient(bottom, #007acc, #0099ff);
  background: -moz-linear-gradient(center bottom, #007acc 0%, #0099ff 100%);
  background: -o-linear-gradient(#0099ff, #007acc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0099ff', endColorstr='#007acc', GradientType=0);
  border: 1px solid;
  border-color: #0071bd #006bb3 #0062a3 #006bb3;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-atom-cf27b5abe184 .ow-button-base a:visited,
.so-widget-sow-button-atom-cf27b5abe184 .ow-button-base a:active,
.so-widget-sow-button-atom-cf27b5abe184 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-atom-cf27b5abe184 .ow-button-base a.ow-button-hover:hover {
  background: #0a9dff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0081d6), color-stop(1, #0a9dff));
  background: -ms-linear-gradient(bottom, #0081d6, #0a9dff);
  background: -moz-linear-gradient(center bottom, #0081d6 0%, #0a9dff 100%);
  background: -o-linear-gradient(#0a9dff, #0081d6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a9dff', endColorstr='#0081d6', GradientType=0);
  border-color: #0077c7 #0071bd #0068ad #0071bd;
  color: #ffffff;
}