/*
 * jQuery Nivo Slider v2.0
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	height:370px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	border:none;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#09F;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:40px 20px;
	margin:0;
	font-size:22px;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:35%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:15px;
	width:47px;
	height:47px;
	display:block;
	background:url(../images/but_prev.png) 0 0 no-repeat;
	text-indent:-9999px;
}
.nivo-nextNav {
	right:15px;
	width:47px;
	height:47px;
	display:block;
	background:url(../images/but_next.png) 0 0 no-repeat;
	text-indent:-9999px;
}
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
	padding-top:25px;
	text-align:center;
	overflow:hidden;
	margin-left:25px;
}

.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
	display:block;
	float:left;
	background:url(../images/slider_controlnav.png) -20px 0 no-repeat;
	text-indent:-9999px;
	width:20px;
	height:20px;
	
}
.nivo-controlNav a.active {
	font-weight:bold;
	background:url(../images/slider_controlnav.png) 0 0 no-repeat;
}